#password_change label {
    float: left;
    width: 15em;
}

#password_change div.form-row {
    margin: 1em 0;
}

.icon-warning:before {
    content: "\f071";
    color: orange;
}

ul.errorlist, ul.errorlist li {
    display: inline;
}