.unactive-cell a {
    background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6 !important;
    border: 1px solid #D3D3D3 !important;
    color: #555555 !important;
    font-weight: normal
}

.active-cell a {
    background: url("images/ui-bg_glass_55_fbf9ee_1x400.png") repeat-x scroll 50% 50% #FBF9EE !important;
    border: 1px solid #FCEFA1 !important;
    color: #363636 !important;
}
