{% load url from future %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <title>{% block page-title %}APS42{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.21.custom.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/ajax_select.css"/>
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script>$.cookie.json = true;</script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js"></script>
    <script src="{{ STATIC_URL }}development-bundle/ui/i18n/jquery.ui.datepicker-fr.js"></script>
    <script src="{{ STATIC_URL }}js/ajax_select.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.mousewheel.js"></script>
    <script src="{{ STATIC_URL }}js/calebasse.mousewheel.js"></script>
    {% block extrascripts %}
    {% endblock %}
  </head>
  <body class="{% firstof service params.service %} {% block body-class %}{% endblock %}{% if popup %} popup{% endif %}">
  <div id="wrap-large">
    {% if not popup %}
    <div id="header">
      {% block header %}<h1><a href="/">APS 42</a></h1>{% endblock %}
    </div>
    <div id="splash" class="{{ service }}">
      <div id="user-links">
        {% block user-links %}
        <a href="{% url 'logout' %}">Déconnexion</a>
        {% endblock %}
      </div>
    </div>
    {% endif %}
    <div id="content">

      <div id="appbar">
        {% block appbar %}
        {% endblock %}
      </div>
      {% block beforecontent %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
    {% if not popup %}
    <div id="footer">
      {% block footer %}Logiciel Calebasse — Copyright © Entr'ouvert{% endblock %}
    </div>
    {% endif %}
  </div>

  {% block dialogs %}
  {% endblock %}
  </body>
</html>
