 <div id="datesel">
   <a id="arrow" href="{% url url_name date=previous_month service=service %}" class="prev-month" title=""></a>
   <a id="arrow" href="{% url url_name date=previous_day service=service %}" class="prev-day"></a>
   <input data-url="{% url url_name date=date service=service %}" id="date-selector" value="{{ date|date:"DATE_FORMAT"|lower}} ({{date|date:"W"}})" readonly="readonly" />
   <a id="arrow" href="{% url url_name date=next_day service=service %}" class="next-day"></a>
   <a id="arrow" href="{% url url_name date=next_month service=service %}" class="next-month"></a>
   {% if date != today %}<a id="datesel-today-link" href="{% url url_name service=service date=today %}">Aujourd'hui</a>{% endif %}
 </div>
