{% extends "calebasse/base.html" %}
{% load url from future %}

{% block page-title %}
APS42 - Accueil
{% endblock %}

{% block header %}
{{ block.super }}
<span>{{service_name}}</span>
{% endblock %}

{% block appbar %}
  <h2>Bienvenue</h2>
{% endblock %}

{% block content %}
    <div id="user-info">
      Bienvenue sur le logiciel de gestion de l'Association Prévention Soins.
      (<a href="{% url 'password_change' %}">changer votre mot de passe</a>)
    </div>

    <div id="service-links">
      {% for name,slug in services %}
      <a class="{{ slug }}{% if slug == service %} active{% endif %}"
        href="{% url 'homepage' service=slug %}">{{ name }}</a>
      {% endfor %}
    </div>

    <ul id="apps">
      {% for name, slug, restriction in applications %}
        {% if not restriction or 'validator' in role %}<li id="{{slug}}"><a href="/{{service}}/{{slug}}/">{{name}}</a></li>{% endif %}
      {% endfor %}
    </ul>

    <br style="clear: both;"/>
{% endblock %}
