{% extends "dossiers/base.html" %}
{% load url from future %}

{% block appbar %}
    <h2>Dossiers</h2>
    <a href="../..">Retourner à l'accueil</a>
    <button id="new-patientrecord">Nouveau dossier</button>
    <span>
      Dossiers: <span class="num">{{ stats.dossiers }}</span> -
      En contact: <span class="num">{{ stats.En_contact }}</span> -
      Fin d'accueil: <span class="num">{{ stats.Fin_daccueil }}</span> -
      En diagnostic: <span class="num">{{ stats.Diagnostic }}</span> -
      En traitement: <span class="num">{{ stats.Traitement }}</span> -
      Clos: <span class="num">{{ stats.Clos }}</span>
    </span>
        <br>
        <br>&nbsp;
    </span>
{% endblock %}

{% block content %}
<div id="sidebar">
  <div>
    <form>
    <h3>Rechercher dans les dossiers</h3>
        <label>Nom <input name="last_name" type="text" value="{{ request.GET.last_name }}"></label>
        <label>Prénom <input name="first_name" type="text" value="{{ request.GET.first_name }}"></label>
        <label>Numéro de dossier papier <input name="paper_id" type="text" value="{{ request.GET.paper_id }}"></label>
        <label>Numéro de dossier inform. <input name="id" type="text" value="{{ request.GET.id }}"></label>
        <label>Numéro d'assuré social <input name="social_security_id" value="{{ request.GET.social_security_id }}" type="text"></label>
    {% if request.GET %}
    <div class="search-reset">
    <button id="search">Rechercher</button>
    <button id="reset" class="icon-remove-sign" title="Réinitialiser"></button>
    </div>
    {% else %}
    <button id="search">Rechercher</button>
    {% endif %}
    <p id="search-results" style="display: none; "></p>
  </div>
  <div id="filtre">
    <h3>Filtres sur l'état</h3>
    {{ search_form.states }}
    <button id="btn_all_state">Tous</button>
    <button id="btn_none_state">Aucun</button>
    <h3>Afficher les dossiers</h3>
    <ul>
      <li><button>En pause facturation</button></li>
      <li><button>Une prolongation est nécessaire</button></li>
      <li><button>Prise en charge arrivant à expiration</button></li>
      <li><button>Prise en charge manquante ou expirée</button></li>
      <li><button>Eligibles pour un rediagnostic</button></li>
    </ul>
    </form>
  </div>
</div>
<div class="content">
  <table id="dossiers" class="main">
    <thead>
      <tr>
        <th colspan="2">N° dossier
        </th><th rowspan="2">Nom</th>
        <th rowspan="2">Prénom</th>
        <th rowspan="2">Date de naissance</th>
        <th rowspan="2">État du dossier</th>
        <th rowspan="2"><span title="Information à propos de la prise en charge">I</span> / <span title="Dossier en pause facturation">F</span></th>
        <th rowspan="2">Dernier acte</th>
        <th rowspan="2">Prochain rendez-vous</th>
      </tr>
      <tr>
        <th>papier</th>
        <th>inform.</th>
      </tr>
    </thead>
    <tbody>

      {% for patient_record in patient_records %}
      <tr style="display: table-row;" class="pr-line {{ patient_record.state_class }}" data-link="{{ patient_record.object.id }}/view">
          <td>{{ patient_record.object.paper_id|default_if_none:"" }}</td>
          <td>{{ patient_record.object.id }}</td>
          <td><span class="lastname">{{ patient_record.object.last_name }}</span></td>
          <td>{{ patient_record.object.first_name }}</td>
          <td>{{ patient_record.object.birthdate|date:"d/m/Y" }}</td>
          <td class="{{ patient_record.state_class }}">{{ patient_record.state }}</td>
          <td>{% if patient_record.object.pause %}F{% endif %}</td>
          <td>
              {% if patient_record.last_rdv %}
              {{ patient_record.last_rdv.start_datetime|date:"d/m/Y h:i" }}<br>
              {% for participant in patient_record.last_rdv.participants %}
              <span class="lastname">{{ participant.last_name }}</span> -
              {% endfor %}
              {{ patient_record.last_rdv.act_type }}
              {% endif %}
          </td>
          <td>
              {% if patient_record.next_rdv %}
              {{ patient_record.next_rdv.start_datetime|date:"d/m/Y h:i" }}<br>
              {% for participant in patient_record.next_rdv.participants %}
              <span class="lastname">{{ participant.last_name }}</span> -
              {% endfor %}
              {{ patient_record.next_rdv.act_type }}
              {% endif %}
          </td>
      </tr>
      {% endfor %}


    </tbody>
  </table>

  {% if not request.GET %}
  <div class="big-msg-info">
    Utilisez le formulaire de recherche sur la gauche de l'écran pour afficher
    les dossiers correspondants.
  </div>
  {% elif not patient_records %}
  <div>Pas de résultat pour votre recherche</div>
  {% endif %}

</div>
{% endblock %}

{% block dialogs %}
  <div id="dossier-dlg" style="display: none;">

  <div id="homonyms" style="display: none;">
   <p>Attention, il existe des homonymes; cliquez sur le bouton pour consulter
      le dossier correspondant. Si vous voulez confirmer la création d'un nouveau
      dossier, cliquez sur le bouton 'Ajouter'.</p>
   <button>Doe James</button><br/>
   <button>Doe Dolassaumure</button>
  </div>
  </div>
{% endblock %}
