<ul>
  {% if contact.parente %}
  <li><label>Lien avec le patient :</label>
  {{ contact.parente }}</li>
  {% endif %}
  {% if contact.mobile %}
  <li>
  <span class="icon-mobile">{{ contact.mobile }} (perso)</span>
  </li>
  {% endif %}
  {% if contact.phone %}
  <li>
  <span class="icon-phone">{{ contact.phone }} (pro)</span>
  </li>
  {% endif %}
  {% if contact.email %}
  <li>
  <label>Courriel :</label>
  {{ contact.email }}
  </li>
  {% endif %}
  {% if contact.contact_comment and contact.id != object.id %}
  <li>
  <label>Commentaire :</label>
  {{ contact.contact_comment }}
  </li>
  {% endif %}
  {% if contact.job %}
  <li>
  <label>Profession :</label>
  {{ contact.job }}
  </li>
  {% endif %}
  <span class="social-security-contact">
    <label class="social-security-label">Infos d'assuré [+]</label>
    <ul>
      {% if contact.id == object.id %}
      {{ object.first_name }} <span class="lastname">{{ object.last_name }}</span>
      {% endif %}
      {% if contact.social_security_id %}
      <li><label>Numéro d'assuré social :</label>
      {{ contact.social_security_id }} {{ contact.get_control_key }}</li>
      {% endif %}
      {% if contact.birthdate %}
      <li><label>Date de naissance :</label>
      {{ contact.birthdate|date:"SHORT_DATE_FORMAT" }}</li>
      {% endif %}
      {% if contact.birthplace %}
      <li><label>Lieu de naissance :</label>
      {{ contact.birthplace }}</li>
      {% endif %}
      {% if contact.begin_rights %}
      <li><label>Début de droits :</label>
      {{ contact.begin_rights }}</li>
      {% endif %}
      {% if contact.end_rights %}
      <li><label>Fin de droits :</label>
      {{ contact.end_rights }}</li>
      {% endif %}
      {% if contact.health_center %}
      <li><label>Caisse :</label>
      {{ contact.health_center }} ({{ contact.health_center.address }} {{ contact.health_center.address_complement }} {{ contact.health_center.zip_code }} {{ contact.health_center.city }})</li>
      {% endif %}
      {% if contact.other_health_center %}
      <li><label>Centre spécifique :</label>
      {{ contact.other_health_center }}</li>
      {% endif %}
      {% if contact.management_code %}
      <li><label>Code de gestion :</label>
      {{ contact.management_code }}</li>
      {% endif %}
      <li><label>Tiers-payant :</label>
      {% if contact.thirdparty_payer %}
      Oui
      {% else %}
      Non
      {% endif %}
      </li>
      {% if contact.twinning_rank %}
      <li><label>Rang (gémellité) :</label>
      {{ contact.twinning_rank }}</li>
      {% endif %}
    </ul>
  </span>
</ul>
