{% extends "dossiers/base.html" %}
{% load url from future %}

{% block extrascripts %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}filter-widget/css/filter-widget.css"/>
<script src="{{ STATIC_URL }}js/jquery.parse-url.js"></script>
<script src="{{ STATIC_URL }}js/calebasse.dossiers.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/i18n.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/core.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/SelectBox.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/SelectFilter2.js"></script>
{% endblock %}

{% block title %}{{ object.last_name }} {{ object.first_name }}{% if object.paper_id %} - Dossier {{ object.paper_id}}{% endif %}{% endblock %}

{% block appbar %}
<h2><strong>{% if current_state.status.type == 'CLOS' %}<span id="highlight">{% endif %}<span class="lastname">{{ object.last_name }}</span> {{ object.first_name }}{% if object.paper_id %} - Dossier {{ object.paper_id}}{% endif %}{% if current_state.status.type == 'CLOS' %} clos</span>{% endif %}</strong></h2>
<span id="ajax-redirect" data-url="{{ object.id }}/view"/>
<a href="..">Retourner aux dossiers</a>
{% if 'validator' in role %}{% if object.can_be_deleted %}<button type="button" id="patientrecord-delete">Supprimer</button>{% endif %}{% endif %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<script type="text/javascript">
$('.messages').delay(1000*(1+{{ messages|length }})).fadeOut('slow');
</script>
{% endif %}
<ul class="messages" style="display: none;"></ul>

<div id="tabs">
  <ul>
    <li><a data-id="0" class="atabs" href="#tabs-1">Général</a></li>
    <li><a data-id="1" class="atabs" href="#tabs-2">Fiche administrative</a></li>
    <li><a data-id="2" class="atabs" href="#tabs-3">Adresses / contacts</a></li>
    {% if object.service.name == "CMPP" %}
    <li><a data-id="3"  class="atabs" href="#tabs-4">Prise en charge</a></li>
    {% elif object.service.name == "SESSAD TED" or object.service.name == "SESSAD DYS" %}
    <li><a data-id="3" class="atabs" href="#tabs-4">Notifications</a></li>
    {% else %}
    <li style="display: none;"><a data-id="3" class="atabs" href="#tabs-4">Notifications</a></li>
    {% endif %}
    <li><a data-id="4" class="atabs" href="#tabs-5">Actes passés</a>
    <li><a data-id="5" class="atabs" href="#tabs-6">Prochains rendez-vous</a>
    <li><a data-id="6" class="atabs" href="#tabs-7">Socialisation</a>
    <li><a data-id="7" class="atabs" href="#tabs-8">Données à caractère médical</a>
  </ul>
  <div id="tabs-1"> <!-- Général -->
      {% include "dossiers/patientrecord_tab1.html" %}
  </div>

  <div id="tabs-2"> <!-- Fiche administrative -->
      {% include "dossiers/patientrecord_tab2.html" %}
  </div>

    <div id="tabs-3"> <!-- Adresses / Contacts -->
    <form method="post" id="policyholder-form" class="patientrecordform">{% csrf_token %}

            <div class="contact patient">
                <h4>{{ object.first_name }} <span class="lastname">{{ object.last_name }}</span> (Patient)</h4>
                <div class="right">Assuré
                    <input type="radio"
                    {% if object.policyholder.id == object.id %} checked="checked" {% endif %}
                    id="id_policyholder-policyholder_{{ object.id }}"
                    value="{{ object.id }}"
                    class="policyholder-radio"
                    name="policyholder-policyholder">
                    <button type="button" data-id="{{ object.id }}" class="update-contact-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if object.parente %}
                            <li><label>Lien avec le patient :</label>
                            {{ object.parente }}</li>
                        {% endif %}
                        {% if object.mobile %}
                            <li>
                            <span class="icon-user-space">{{ object.mobile }} (perso)</span>
                            </li>
                        {% endif %}
                        {% if object.phone %}
                            <li>
                            <span class="icon-user-space">{{ object.phone }} (pro)</span>
                            </li>
                        {% endif %}
                        {% if object.email %}
                            <li>
                            <label>Courriel :</label>
                            {{ object.email }}
                            </li>
                        {% endif %}
                        {% if object.job %}
                            <li>
                            <label>Profession :</label>
                            {{ object.job }}
                            </li>
                        {% endif %}
                        {% if object.contact_comment %}
                            <li>
                            <label>Commentaire :</label>
                            {{ object.contact_comment }}
                            </li>
                        {% endif %}
                        <li><label>Données d'assuré social</label>
<!--                            <button class="blind">détails</button>-->
                            <ul>
                            {% if object.social_security_id %}
                                <li><label>Numéro d'assuré social :</label>
                                {{ object.social_security_id }} {{ object.get_control_key }}</li>
                            {% endif %}
                            {% if object.birthdate %}
                                <li><label>Date de naissance :</label>
                                {{ object.birthdate|date:"SHORT_DATE_FORMAT" }}</li>
                            {% endif %}
                            {% if object.birthplace %}
                                <li><label>Lieu de naissance :</label>
                                {{ object.birthplace }}</li>
                            {% endif %}
                            {% if object.begin_rights %}
                                <li><label>Début de droits :</label>
                                {{ object.begin_rights }}</li>
                            {% endif %}
                            {% if object.end_rights %}
                                <li><label>Fin de droits :</label>
                                {{ object.end_rights }}</li>
                            {% endif %}
                            {% if object.health_center %}
                                <li><label>Caisse :</label>
                                {{ object.health_center }} ({{ object.health_center.address }} {{ object.health_center.address_complement }} {{ object.health_center.zip_code }} {{ object.health_center.city }})</li>
                            {% endif %}
                            {% if object.other_health_center %}
                                <li><label>Centre spécifique :</label>
                                {{ object.other_health_center }}</li>
                            {% endif %}
                            {% if object.management_code %}
                                <li><label>Code de gestion :</label>
                                {{ object.management_code }}</li>
                            {% endif %}
                            <li><label>Tiers-payant :</label>
                                {% if object.thirdparty_payer %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </li>
                            {% if object.twinning_rank %}
                                <li><label>Rang (gémellité) :</label>
                                {{ object.twinning_rank }}</li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        <button type="button" id="new-address-btn">Nouvelle adresse</button>
        <button type="button" id="new-contact-btn">Nouveau contact</button>

        {% for address in object.addresses.all %}
        <div class="frame">
            <h3>{% if not address.display_name %}Non renseigné{% else %}{{ address.display_name }}{% endif %}</h3>
            <div class="buttons">
                <button type="button" data-id="{{ address.id }}" class="del-address icon-minus" title="Supprimer"></button>
                <button type="button" data-id="{{ address.id }}" class="update-address-btn icon-edit" title="Modifier"></button>
            </div>
            <div class="right">
                <ul class="ajax_messages" style="display: none;"></ul>
                <input type="checkbox" data-id="{{ address.id }}" class="place_of_life" {% if address.place_of_life %}checked{% endif %}>Lieu de vie</input>
            </div>
            {% if address.phone %}<p><span class="icon-home-space">{{ address.phone }}</span></p>{% endif %}
            {% if address.comment %}<p><label>Commentaire :</label>{{ address.comment }}</p>{% endif %}
            {% if not address.phone and not address.comment %}<p>&nbsp;<!-- intentionaly empty --></p>{% endif %}
            {% for contact in address.patientcontact_set.all  %}
            {% if contact.id != object.id %}
            <div class="contact{% if contact.id == object.id %} patient{% endif %}">
                <h4>{% if contact.gender == 1 %}M.{% elif contact.gender == 2 %}Mme{% endif %}
                    {{ contact.first_name }} <span class="lastname">{{ contact.last_name }}</span> {% if contact.id == object.id %} (PATIENT){% endif %}</h4>
                <div class="right">Assuré
                    <input type="radio"
                    {% if object.policyholder.id == contact.id %} checked="checked" {% endif %}
                    id="id_policyholder-policyholder_{{ contact.id }}"
                    value="{{ contact.id }}"
                    class="policyholder-radio"
                    name="policyholder-policyholder">
                    <button type="button" data-id="{{ contact.id }}" data-address-id="{{ address.id }}" class="del-contact icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ contact.id }}" class="update-contact-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if contact.parente %}
                            <li><label>Lien avec le patient :</label>
                            {{ contact.parente }}</li>
                        {% endif %}
                        {% if contact.mobile %}
                            <li>
                            <span class="icon-user-space">{{ contact.mobile }} (perso)</span>
                            </li>
                        {% endif %}
                        {% if contact.phone %}
                            <li>
                            <span class="icon-user-space">{{ contact.phone }} (pro)</span>
                            </li>
                        {% endif %}
                        {% if contact.email %}
                            <li>
                            <label>Courriel :</label>
                            {{ contact.email }}
                            </li>
                        {% endif %}
                        {% if contact.job %}
                            <li>
                            <label>Profession :</label>
                            {{ contact.job }}
                            </li>
                        {% endif %}
                        {% if contact.contact_comment %}
                            <li>
                            <label>Commentaire :</label>
                            {{ contact.contact_comment }}
                            </li>
                        {% endif %}
                        <li><label>Données d'assuré social</label>
<!--                            <button class="blind">détails</button>-->
                            <ul>
                            {% if contact.social_security_id %}
                                <li><label>Numéro d'assuré social :</label>
                                {{ contact.social_security_id }} {{ contact.get_control_key }}</li>
                            {% endif %}
                            {% if contact.birthdate %}
                                <li><label>Date de naissance :</label>
                                {{ contact.birthdate|date:"SHORT_DATE_FORMAT" }}</li>
                            {% endif %}
                            {% if contact.birthplace %}
                                <li><label>Lieu de naissance :</label>
                                {{ contact.birthplace }}</li>
                            {% endif %}
                            {% if contact.begin_rights %}
                                <li><label>Début de droits :</label>
                                {{ contact.begin_rights }}</li>
                            {% endif %}
                            {% if contact.end_rights %}
                                <li><label>Fin de droits :</label>
                                {{ contact.end_rights }}</li>
                            {% endif %}
                            {% if contact.health_center %}
                                <li><label>Centre de santé :</label>
                                {{ contact.health_center }} ({{ contact.health_center.address }} {{ contact.health_center.address_complement }} {{ contact.health_center.zip_code }} {{ contact.health_center.city }})</li>
                            {% endif %}
                            {% if contact.management_code %}
                                <li><label>Code de gestion :</label>
                                {{ contact.management_code }}</li>
                            {% endif %}
                            <li><label>Tiers-payant :</label>
                                {% if contact.thirdparty_payer %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </li>
                            {% if contact.twinning_rank %}
                                <li><label>Rang (gémellité) :</label>
                                {{ contact.twinning_rank }}</li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </form>

    </div>

    <div id="tabs-4"> <!-- Prise en charge et notifications -->
    {% if object.service.name == "CMPP" %}
        <div class="notifs">
        <h4>Information sur la prise en charge</h4>
        <ul>
        <li><span{% if hc_status.1 %} id="highlight"{% endif %}>{{ hc_status.0 }}</span></li>
        {% if object.pause %}<li><span id="highlight">Le dossier est en pause facturation.</span></li>{% endif %}
        {% if missing_policy %}<li><span id="highlight">Informations d'assuré sociale manquantes.</span></li>{% endif %}
        {% if missing_birthdate %}<li><span id="highlight">Date de naissance manquante.</span></li>{% endif %}
        </div>
        <p>
        <button id="new-hcdiag-btn">Nouvelle PC diagnostic</button>
        <button id="new-hctrait-btn">Nouvelle PC traitement</button>
        </p>
        {% if acts_losts %}
            <p><strong>{{ acts_losts|length }}</strong> actes facturables qui ne peuvent pas être facturés :
            <table class="basic">
              <thead>
                  <tr> <th>Date</th> <th>Heure</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th> <th>Refacturation</th></tr>
              </thead>
              <tbody>
                {% for act in acts_losts %}
                <tr>
                  <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ act.time }}</td>
                  <td>{{ act.act_type }}</td>
                  <td>{% for participant in act.doctors.all %}
                      {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                      {% endfor %}</td>
                  <td>{{ act.comment|default_if_none:"" }}</td>
                  <td>{% for i in act.invoice_set.all %}{{ i.number }}{% if not forloop.last %} - {% endif %}{% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </p>
        {% endif %}
        {% if acts_pause %}
            <p><strong>{{ acts_pause|length }}</strong> actes qui sont en pause :
            <table class="basic">
              <thead>
                  <tr> <th>Date</th> <th>Heure</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th> <th>Refacturation</th></tr>
              </thead>
              <tbody>
                {% for act in acts_pause %}
                <tr>
                  <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                  <td>{{ act.time }}</td>
                  <td>{{ act.act_type }}</td>
                  <td>{% for participant in act.doctors.all %}
                      {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                      {% endfor %}</td>
                  <td>{{ act.comment|default_if_none:"" }}</td>
                  <td>{% for i in act.invoice_set.all %}{{ i.number }}{% if not forloop.last %} - {% endif %}{% endfor %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </p>
        {% endif %}
        {% if hcs %}
            {% for hc, acts, acts_cared in hcs %}
                {% if hc.cmpphealthcarediagnostic %}
                  <div id="patient-diag">
                    <div class="frame">
                    <div class="buttons">
                        <button type="button" data-id="{{ hc.id }}" class="del-hcdiag icon-minus" title="Supprimer"></button>
                        <button type="button" data-id="{{ hc.id }}" class="update-hcdiag-btn icon-edit" title="Modifier"></button>
                    </div>
                      <h3>Prise en charge de diagnostic, débutée le {{ hc.start_date|date:"d/m/Y" }}{% if hc.cmpphealthcarediagnostic.end_date %}, se terminant le {{ hc.cmpphealthcarediagnostic.end_date|date:"d/m/Y" }}{% endif %}</h3>
                      <ul>
                        {% if hc.cmpphealthcarediagnostic.end_date %}<li><label>Date de fin</label> : {{ hc.cmpphealthcarediagnostic.end_date|date:"d/m/Y" }}</li>{% endif %}
                        {% if hc.request_date %}<li><label>Date de demande</label> : {{ hc.request_date|date:"d/m/Y" }}</li>{% endif %}
                        {% if hc.comment %}<li><label>Commentaire</label> : {{ hc.comment }}</li>{% endif %}
                        <li><label>Nombres d'actes de la prise en charge</label> : <strong>{{ hc.cmpphealthcarediagnostic.get_act_number }}</strong></li>
                        {% if acts %}<li><strong>{{ acts|length }}</strong> actes pouvant être pris en charge lors de la prochaine facturation :</li>
                        <table class="basic">
                          <thead>
                              <tr> <th>Date</th> <th>Heure</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th> <th>Refacturation</th></tr>
                          </thead>
                          <tbody>
                            {% for act in acts %}
                            <tr>
                              <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                              <td>{{ act.time }}</td>
                              <td>{{ act.act_type }}</td>
                              <td>{% for participant in act.doctors.all %}
                                  {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                                  {% endfor %}</td>
                              <td>{{ act.comment|default_if_none:"" }}</td>
                              <td>{% for i in act.invoice_set.all %}{{ i.number }}{% if not forloop.last %} - {% endif %}{% endfor %}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% endif %}
                        {% if hc.get_nb_acts_cared %}
                        <li><strong>{{ hc.get_nb_acts_cared }}</strong> actes déja facturés :</li>
                        <table class="basic">
                          <thead>
                              <tr> <th>Date</th> <th>Heure</th> <th>N° facture</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th></tr>
                          </thead>
                          <tbody>
                            {% for act in acts_cared %}
                            <tr>
                              <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                              <td>{{ act.time }}</td>
                              <td>{{ act.get_invoice_number|default_if_none:"Ancienne facturation" }}</td>
                              <td>{{ act.act_type }}</td>
                              <td>{% for participant in act.doctors.all %}
                                  {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                                  {% endfor %}</td>
                              <td>{{ act.comment|default_if_none:"" }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% else %}<li>Aucun acte facturé.</li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                {% else %}
                  <div id="patient-traitement">
                    <div class="frame">
                    <div class="buttons">
                        <button type="button" data-id="{{ hc.id }}" class="del-hctrait icon-minus" title="Supprimer"></button>
                        <button type="button" data-id="{{ hc.id }}" class="update-hctrait-btn icon-edit" title="Modifier"></button>
                    </div>
                      <h3>Prise en charge de traitement, débutée le {{ hc.start_date|date:"d/m/Y" }}{% if hc.cmpphealthcaretreatment.end_date %}, se terminant le {{ hc.cmpphealthcaretreatment.end_date|date:"d/m/Y" }}{% endif %}</h3>
                      <ul>
                        {% if hc.cmpphealthcaretreatment.end_date %}<li><label>Date de fin</label> : {{ hc.cmpphealthcaretreatment.end_date|date:"d/m/Y" }}</li>{% endif %}
                        {% if hc.request_date %}<li><label>Date de demande</label> : {{ hc.request_date|date:"d/m/Y" }}</li>{% endif %}
                        {% if hc.comment %}<li><label>Commentaire</label> : {{ hc.comment }}</li>{% endif %}
                        <li><label>Nombres d'actes de la prise en charge</label> : <strong>{{ hc.cmpphealthcaretreatment.get_act_number }}</strong></li>
                        {% if acts %}<li><strong>{{ acts|length }}</strong> actes pouvant être pris en charge lors de la prochaine facturation :</li>
                        <table class="basic">
                          <thead>
                              <tr> <th>Date</th> <th>Heure</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th> <th>Refacturation</th></tr>
                          </thead>
                          <tbody>
                            {% for act in acts %}
                            <tr>
                              <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                              <td>{{ act.time }}</td>
                              <td>{{ act.act_type }}</td>
                              <td>{% for participant in act.doctors.all %}
                                  {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                                  {% endfor %}</td>
                              <td>{{ act.comment|default_if_none:"" }}</td>
                              <td>{% for i in act.invoice_set.all %}{{ i.number }}{% if not forloop.last %} - {% endif %}{% endfor %}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                        {% endif %}
                        {% if hc.get_nb_acts_cared %}
                        <li><strong>{{ hc.get_nb_acts_cared }}</strong> actes déja facturés :</li>
                        <table class="basic">
                          <thead>
                              <tr> <th>Date</th> <th>Heure</th> <th>N° facture</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th></tr>
                          </thead>
                          <tbody>
                            {% for act in acts_cared %}
                            <tr>
                              <td>{{ act.date|date:"SHORT_DATE_FORMAT" }}</td>
                              <td>{{ act.time }}</td>
                              <td>{{ act.get_invoice_number|default_if_none:"Ancienne facturation" }}</td>
                              <td>{{ act.act_type }}</td>
                              <td>{% for participant in act.doctors.all %}
                                  {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                                  {% endfor %}</td>
                              <td>{{ act.comment|default_if_none:"" }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% else %}<li>Aucun acte facturé.</li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if object.service.name == "SESSAD TED" or object.service.name == "SESSAD DYS" %}
        <p>
        <button id="new-notification-btn">Nouvelle notification</button>
        </p>
        {% if hcs %}
            {% for hc in hcs %}
            {% if hc.sessadhealthcarenotification %}
              <div id="patient-diag">
                <div class="frame">
                <div class="buttons">
                    <button type="button" data-id="{{ hc.sessadhealthcarenotification.id }}" class="del-notification icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ hc.sessadhealthcarenotification.id }}" class="update-notification-btn icon-edit" title="Modifier"></button>
                </div>
                  <h3>Notification</h3>
                  <ul>
                    {% if hc.start_date %}<li><label>Date de début</label> : {{ hc.start_date|date:"d/m/Y" }}</li>{% endif %}
                    {% if hc.sessadhealthcarenotification.end_date %}<li><label>Date de fin</label> : {{ hc.sessadhealthcarenotification.end_date|date:"d/m/Y" }}</li>{% endif %}
                    {% if hc.request_date %}<li><label>Date de demande</label> : {{ hc.request_date|date:"d/m/Y" }}</li>{% endif %}
                    {% if hc.agree_date %}<li><label>Date d'accord</label> : {{ hc.agree_date|date:"d/m/Y" }}</li>{% endif %}
                    {% if hc.insist_date %}<li><label>Date de relance</label> : {{ hc.insist_date|date:"d/m/Y" }}</li>{% endif %}
                    {% if hc.comment %}<li><label>Commentaire</label> : {{ hc.comment }}</li>{% endif %}
                  </ul>
                </div>
              </div>
              {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>

    <div id="tabs-5"> <!-- Actes passés -->
    {% for state, last_rdvs in history %}
    <div class="frame">
    <h3>{{ state.status.name }} depuis le {{ state.date_selected|date:"SHORT_DATE_FORMAT" }}</h3>
    {% if last_rdvs %}
    <table class="basic">
      <thead>
          <tr> <th>Date</th> <th>Pointage</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th></tr>
      </thead>
      <tbody>
        {% for act, state, missing_workers in last_rdvs %}
        <tr>
          <td>{{ act.date|date:"SHORT_DATE_FORMAT" }} {{ act.time|date:"H:i" }}{% if missing_workers %} <span title="Au moins un intervenant est absent" class="icon-warning-sign absent"></span>{% endif %}</td>
          <td>{% if state %}{% if act.is_absent %}<strong>{% endif %}{% if state.state_name == 'ACT_DOUBLE' or state.state_name == 'ACT_LOST' %}Présent ({{ state }}){% else %}{{ state }}{% endif %}{% if act.is_absent %}</strong>{% endif %}{% else %}Non pointé.{% endif %}</td>
          <td>{{ act.act_type }}</td>
          <td class="width-limited">{% for doctor in act.doctors.all %}
            {% if doctor in missing_workers %}<span class="absent" title="Absent">{% endif %}
            {{ doctor.first_name }} <span class="lastname">{{ doctor.last_name }}</span>
            {% if doctor in missing_workers %}</span>{% endif %}
            {% endfor %}</td>
          <td class="width-limited">{% if act.comment %}{{ act.comment }}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    </div>
    {% endfor %}
    </div>

    <div id="tabs-6"> <!-- Prochains rendez-vous -->
    <table class="basic">
      <thead>
          <tr> <th>Date</th> <th>Pointage</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Commentaire</th> </tr>
      </thead>
      <tbody>
        {% for event, state, missing_participants in next_rdvs %}
        <tr>
          <td>{% firstof event.start_datetime|date:"l d/m/y H:i"|title %}{% if missing_participants %} <span title="Au moins un intervenant est absent" class="icon-warning-sign absent"></span>{% endif %}</td>
          <td>{% if state %}{% if state.state_name != 'VALIDE' %}<strong>{% endif %}{{ state }}{% if state.state_name != 'VALIDE' %}</strong>{% endif %}{% else %}Non pointé.{% endif %}</td>
          <td>{{ event.act_type }}</td>
          <td class="width-limited">{% for participant in event.participants.all %}
                {% if participant in missing_participants %}<span class="absent" title="Absent">{% endif %}
                {{ participant.first_name }} <span class="lastname">{{ participant.last_name }}</span>
                {% if participant in missing_participants %}</span>{% endif %}
              {% endfor %}</td>
          <td class="width-limited">{{ event.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>


    <div id="tabs-7">
        <div class="frame">
            <h3>Périodes de socialisation</h3>
            <p><button id="new-socialisation-duration-btn">Nouvelle période de socialisation</button></p>
            {% for duration in object.socialisation_durations.all %}
                <div class="subframe">
                Arrivée le <strong>{{ duration.start_date }}</strong> dans {% if duration.school %}l'établissement <strong>{{ duration.school }}</strong>{% else %}un établissement non renseigné{% endif %}{% if duration.level %} (en {{ duration.level }}){% endif %}
                <div class="buttons">
                    <button type="button" data-id="{{ duration.id }}" class="del-duration icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ duration.id }}" class="update-duration-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if duration.end_date %}<li><label>Date de départ</label> : {{ duration.end_date }}</li>{% endif %}
                        {% if duration.comment %}<li><label>Commentaire</label> : {{ duration.comment }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>

        <div class="frame">
            <h3>Demandes MDPH</h3>
            <p><button id="new-mdph-request-btn">Nouvelle demande MDPH</button></p>
            {% for request in object.mdph_requests.all %}
                <div class="subframe">
                Demande le <strong>{{ request.start_date }}</strong> à la MDPH <strong>{{ request.mdph }}</strong>
                <div class="buttons">
                    <button type="button" data-id="{{ request.id }}" class="del-mdph-request icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ request.id }}" class="update-mdph-request-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if request.comment %}<li><label>Commentaire</label> : {{ request.comment }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>

        <div class="frame">
            <h3>Réponses MDPH</h3>
            <p><button id="new-mdph-response-btn">Nouvelle réponse MDPH</button></p>
            {% for response in object.mdph_responses.all %}
                <div class="subframe">
                Du <strong>{{ response.start_date }}</strong> au <strong>{{ response.end_date }}</strong> à la MDPH <strong>{{ response.mdph }}</strong>
                <div class="buttons">
                    <button type="button" data-id="{{ response.id }}" class="del-mdph-response icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ response.id }}" class="update-mdph-response-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if response.comment %}<li><label>Commentaire</label> : {{ response.comment }}</li>{% endif %}
                        {% if response.type_aide %}<li><label>Type d'aide</label> : {{ response.type_aide }}</li>{% endif %}
                        {% if response.name %}<li><label>Nom</label> : {{ response.name }}</li>{% endif %}
                        {% if response.rate %}<li><label>Taux</label> : {{ response.rate }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="tabs-8">
        <form method="post" id="physiology-form" class="patientrecordform">
          {% csrf_token %}
            <button class="save enable-on-change">Enregistrer</button>
            {% for field in forms.physiology %}
            <p>
                {{ field.errors }}
            </p>
            <p>
                {{ field.label_tag  }}
                {{ field }}
            </p>
            {% endfor %}
            </p>
            <input type="hidden"  name="tab"  value="7">
            <button class="save enable-on-change">Enregistrer</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block dialogs %}
<div id="ajax-dlg" style="display: none;"></div>
<div id="change-record" style="display: none;" data-id="{{ object.id }}" data-service-id="{{ service_id }}">
 </div>

  <div id="dossier-histo-dlg" style="display: none;">
   <dl>
    {% for state in states %}
    <dt><b>{{ state.date_selected|date:"d/m/Y" }}</b> <!--<small>(date info: {{ state.created|date:"d/m/Y" }})</small>-->
      <button data-id="{{ state.id }}" class="update-patient-state-btn icon-edit" title="Modifier"></button>
      {% if states|length > 1 %}<button data-id="{{ state.id }}" class="del-patient-state-btn icon-remove"></button>{% endif %}
    </dt>
    <dd>
    <p><b>{{ state.status.name }}</b>{% if state.comment %}; <label>commentaire:</label> {{ state.comment }}{% endif %}</p>
    </dd>
    <dd class="edit-histo-item" style="display: none;">

<form action="{{ request.get_full_path }}/../update-state" method="post">
  <input type="hidden" name="state_id" value="{{ state.id }}"/>
  {% csrf_token %}
   <p>
   <label for="id_date">Date :</label>
   {{ form.date.errors }}
   <input id="id_date_{{state.id}}" class="date" name="date" value="{{ state.created|date:"d/m/Y" }}"/>
   </p>
   <p>
    <label for="id_comment">Commentaire :</label>
    <textarea id="id_comment" style="width: 90%;" name="comment">{% if state.comment %}{{ state.comment }}{% endif %}</textarea>
   </p>
   <button>Modifier</button>
 </form>

    </dd>
    {% endfor%}
   </dl>
  </div>



  <div id="add-prise-en-charge-dlg" style="display: none;">
   <div>
    <label for="id_partir">À partir du :</label>
    <input id="id_partir" class="partir" name="partir" size="10" value="11/06/2012"/>
   </div>
   <div>
    <label for="id_pour">Pour :</label>
    <input id="id_pour" class="pour" name="pour" size="4" value="30"/> séances
   </div>
  </div>

  <div id="add-prolongation-dlg" style="display: none;">
   <div>
    <label for="id_pour">Pour :</label>
    <input id="id_pour" class="pour" name="pour" size="4" value="10"/> actes
   </div>
  </div>

<div id="finaccueil-patientrecord-dialog" title="Patient en fin d'accueil">
  <div id="finaccueil-patientrecord-dialog-content">
  </div>
  <form method="post" action="finaccueil-patientrecord/">
    {% csrf_token %}
    <input type="hidden" name="Close" value="1">
  </form>
</div>

{% endblock %}
