{% extends "dossiers/base.html" %}
{% load url from future %}

{% block extrascripts %}
<link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}filter-widget/css/filter-widget.css"/>
<script src="{{ STATIC_URL }}js/jquery.parse-url.js"></script>
<script src="{{ STATIC_URL }}js/calebasse.dossiers.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/i18n.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/core.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/SelectBox.js"></script>
<script src="{{ STATIC_URL }}filter-widget/js/SelectFilter2.js"></script>
{% endblock %}


{% block appbar %}
<h2><span class="lastname">{{ object.last_name }}</span> {{ object.first_name }} - Dossier {{ object.paper_id|default_if_none:"" }}</h2>
<span id="ajax-redirect" data-url="{{ object.id }}/view"/>
<a href="..">Retourner aux dossiers</a>
{% if object.can_be_deleted %}<button id="patientrecord-delete">Supprimer</button>{% endif %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<script type="text/javascript">
$('.messages').delay(1000*(1+{{ messages|length }})).fadeOut('slow');
</script>
{% endif %}

<div id="tabs">
  <ul>
    <li><a data-id="0" class="atabs" href="#tabs-1">Général</a></li>
    <li><a data-id="1" class="atabs" href="#tabs-2">Fiche administrative</a></li>
    <li><a data-id="2" class="atabs" href="#tabs-3">Adresses / contacts</a></li>
    {% if object.service.name == "CMPP" %}
    <li><a data-id="3"  class="atabs" href="#tabs-4">Prise en charge</a></li>
    {% endif %}
    {% if object.service.name == "SESSAD TED" or object.service.name == "SESSAD DYS" %}
    <li><a data-id="3" class="atabs" href="#tabs-4">Notifications</a></li>
    {% endif %}
    <li><a data-id="4" class="atabs" href="#tabs-5">Actes passés</a>
    <li><a data-id="5" class="atabs" href="#tabs-6">Prochains rendez-vous</a>
    <li><a data-id="6" class="atabs" href="#tabs-7">Socialisation</a>
    <li><a data-id="7" class="atabs" href="#tabs-8">Données à caractère médical</a>
  </ul>
  <div id="tabs-1"> <!-- Général -->
      {% include "dossiers/patientrecord_tab1.html" %}
  </div>

  <div id="tabs-2"> <!-- Fiche administrative -->
      {% include "dossiers/patientrecord_tab2.html" %}
  </div>

    <div id="tabs-3"> <!-- Adresses / Contacts -->
        <button id="new-address-btn">Nouvelle adresse</button>
        <button id="new-contact-btn">Nouveau contact</button>
    <form method="post" id="policyholder-form" class="patientrecordform">{% csrf_token %}
        {% for address in object.addresses.all %}
        <div class="frame">
            <h3>{% if not address.number and not address.street and not address.zip_code and not address.city %}Non renseigné{% else %}{{ address.display_name }}{% endif %}</h3>
            <div class="buttons">
                <button type="button" data-id="{{ address.id }}" class="del-address icon-minus" title="Supprimer"></button>
                <button type="button" data-id="{{ address.id }}" class="update-address-btn icon-edit" title="Modifier"></button>
            </div>
            <div class="right">
                <input type="checkbox" data-id="{{ address.id }}" class="place_of_life" {% if address.place_of_life %}checked{% endif %}>Lieu de vie</input>
            </div>
            {% if address.phone %}<p><span class="icon-home-space">{{ address.phone }}</span></p>{% endif %}
            {% if address.comment %}<p><label>Commentaire :</label>{{ address.comment }}</p>{% endif %}
            {% for contact in address.patientcontact_set.all  %}
            <div class="contact{% if contact.id == object.id %} patient{% endif %}">
                <h4>{% if contact.gender == 1 %}M.{% elif contact.gender == 2 %}Mme{% endif %}
                    {{ contact.first_name }} <span class="lastname">{{ contact.last_name }}</span> {% if contact.id == object.id %} (PATIENT){% endif %}</h4>
                <div class="right">Assuré
                    <input type="radio"
                    {% if object.policyholder.id == contact.id %} checked="checked" {% endif %}
                    id="id_policyholder-policyholder_{{ contact.id }}"
                    value="{{ contact.id }}"
                    class="policyholder-radio"
                    name="policyholder-policyholder">
                    <button type="button" data-id="{{ contact.id }}" data-address-id="{{ address.id }}" class="del-contact icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ contact.id }}" class="update-contact-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if contact.email %}
                            <li>
                            <label>Courriel :</label>
                            {{ contact.email }}
                            </li>
                        {% endif %}
                        {% if contact.mobile %}
                            <li>
                            <span class="icon-user-space">{{ contact.mobile }}</span>
                            </li>
                        {% endif %}
                        {% if contact.contact_comment %}
                            <li>
                            <label>Commentaire :</label>
                            {{ contact.contact_comment }}
                            </li>
                        {% endif %}
                        <li><label>Données d'assuré social</label>
<!--                            <button class="blind">détails</button>-->
                            <ul>
                            {% if contact.social_security_id %}
                                <li><label>Numéro d'assuré social :</label>
                                {{ contact.social_security_id }} {{ contact.get_control_key }}</li>
                            {% endif %}
                            {% if contact.birthdate %}
                                <li><label>Date de naissance :</label>
                                {{ contact.birthdate }}</li>
                            {% endif %}
                            {% if contact.begin_rights %}
                                <li><label>Début de droits :</label>
                                {{ contact.begin_rights }}</li>
                            {% endif %}
                            {% if contact.end_rights %}
                                <li><label>Fin de droits :</label>
                                {{ contact.end_rights }}</li>
                            {% endif %}
                            {% if contact.health_center %}
                                <li><label>Centre de santé :</label>
                                {{ contact.health_center }}</li>
                            {% endif %}
                            <li><label>Tiers-payant :</label>
                                {% if contact.thirdparty_payer %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </li>
                            {% if contact.twinning_rank %}
                                <li><label>Rang (gémellité) :</label>
                                {{ contact.twinning_rank }}</li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </form>

    </div>

    <div id="tabs-4"> <!-- Prise en charge -->

    {% if object.service.name == "CMPP" %}
        <p>
        <button id="new-hcdiag-btn">Nouvelle PC diagnostic</button>
        <button id="new-hctrait-btn">Nouvelle PC traitement</button>
        </p>
        {% if hcs %}
            {% for hc in hcs %}
                {% if hc.cmpphealthcarediagnostic %}
                  <div id="patient-diag">
                    <div class="frame">
                    <div class="buttons">
                        <button type="button" data-id="{{ hc.id }}" class="del-hcdiag icon-minus" title="Supprimer"></button>
                        <button type="button" data-id="{{ hc.id }}" class="update-hcdiag-btn icon-edit" title="Modifier"></button>
                    </div>
                      <h3>En diagnostic depuis le {{ hc.start_date }}</h3>
                      <ul>
                        <li><label>Actes prévus</label> : {{ hc.cmpphealthcarediagnostic.act_number }}</li>
                        {% if hc.comment %}<li><label>Commentaire</label> : {{ hc.comment }}</li>{% endif %}
                        <li>{% if hc.get_nb_acts_cared %}<strong>{{ hc.get_nb_acts_cared }}</strong> actes déja facturés.{% else %}Aucun acte facturé.{% endif %}</li>
                      </ul>
                    </div>
                  </div>
                {% else %}
                  <div id="patient-traitement">
                    <div class="frame">
                    <div class="buttons">
                        <button type="button" data-id="{{ hc.id }}" class="del-hctrait icon-minus" title="Supprimer"></button>
                        <button type="button" data-id="{{ hc.id }}" class="update-hctrait-btn icon-edit" title="Modifier"></button>
                    </div>
                      <h3>En traitement depuis le {{ hc.start_date }}{% if hc.end_date %} jusqu'au {{ hc.end_date }}{% endif %}</h3>
                      <ul>
                        <li><label>Actes prévus</label> : {{ hc.cmpphealthcaretreatment.act_number }}</li>
                        {% if hc.comment %}<li><label>Commentaire</label> : {{ hc.comment }}</li>{% endif %}
                        <li>{% if hc.get_nb_acts_cared %}<strong>{{ hc.get_nb_acts_cared }}</strong> actes déja facturés.{% else %}Aucun acte facturé.{% endif %}</li>
                      </ul>
                    </div>
                  </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    {% if object.service.name == "SESSAD TED" or object.service.name == "SESSAD DYS" %}
        <button id="new-notification-btn">Nouvelle notification</button>
    {% endif %}


<!--      <div id="patient-diag">-->
<!--        <div class="frame">-->
<!--          <h3>En diagnostic depuis le 11 juin 2012</h3>-->
<!--          <ul>-->
<!--            <li><input size="4" value="6"/> actes prévus</li>-->
<!--            <li><strong>3</strong> actes réalisés dont <strong>2</strong> facturés <button class="blind">détails</button>-->
<!--            <ul>-->
<!--              <li>Facturation <strong>28</strong> (assuré: Sophie Fonfec) - <strong>2</strong> actes-->
<!--              <ul>-->
<!--                <li>Accueil le 11 juin 2012 - 9h00 - 45 minutes - Bob Leponge</li>-->
<!--                <li>Dialogue le 12 juin 2012 - 10h00 - 30 minutes - Bob Leponge</li>-->
<!--              </ul></li>-->
<!--              <li>Non facturé - <strong>1 acte</strong>-->
<!--              <ul>-->
<!--                <li>Dialogue le 13 juin 2012 - 11h00 - 45 minutes - Sandy Kilo</li>-->
<!--              </ul></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div id="patient-traitement">-->
<!--        <div class="frame">-->
<!--          <h3>En diagnostic depuis le 6 mars 2012</h3>-->
<!--          <ul>-->
<!--            <li><strong>6</strong> actes réalisés et facturés <button class="blind">détails</button>-->
<!--            <ul>-->
<!--              <li>Facturation <strong>28</strong> (assuré: Sophie Fonfec) - <strong>6</strong> actes-->
<!--              <ul>-->
<!--                <li>...</li>-->
<!--              </ul></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

<!--        <div class="frame">-->
<!--          <h3>En traitement depuis le 11 juin 2012</h3>-->
<!--          <ul>-->
<!--            <li><strong>4</strong> actes réalisés <button class="blind">détails</button>-->
<!--            <ul><li>...</li></ul>-->
<!--            </li>-->
<!--            <li>Pas de prise en charge - <button id="add-prise-en-charge-btn">Ajouter une prise en charge</button></li>-->
<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->

<!--      <div id="patient-traitement-charge" style="display: none;">-->

<!--        <div class="frame">-->
<!--          <h3>En diagnostic depuis le 2 avril 2008</h3>-->
<!--          <ul>-->
<!--            <li><strong>3</strong> actes réalisés et facturés <button class="blind">détails</button>-->
<!--            <ul>-->
<!--              <li>Facturation <strong>28</strong> (assuré: Sophie Fonfec) - <strong>3</strong> actes-->
<!--              <ul>-->
<!--                <li>...</li>-->
<!--              </ul></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

<!--        <div class="frame">-->
<!--          <h3>En diagnostic depuis le 5 octobre 2010</h3>-->
<!--          <ul>-->
<!--            <li><strong>6</strong> actes réalisés et facturés <button class="blind">détails</button>-->
<!--            <ul>-->
<!--              <li>Facturation <strong>28</strong> (assuré: Sophie Fonfec) - <strong>6</strong> actes-->
<!--              <ul>-->
<!--                <li>...</li>-->
<!--              </ul></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->

<!--        <div class="frame">-->
<!--          <h3>En traitement depuis le 12 décembre 2010</h3>-->
<!--          <ul>-->
<!--            <li>Prise en charge depuis le 12 décembre 2010-->
<!--            <ul>-->
<!--              <li><strong>30</strong> actes réalisés et facturés <button class="blind">détails</button>-->
<!--              <ul><li>...</li></ul></li>-->
<!--              <li><strong>10</strong> actes réalisés et facturés en prolongation <button class="blind">détails</button>-->
<!--              <ul><li>...</li></ul></li>-->
<!--              <li><strong>6</strong> actes réalisés et non pris en charge <button class="blind">détails</button>-->
<!--              <ul><li>...</li></ul></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--            <li>Prise en charge depuis le 15 décembre 2011-->
<!--            <ul>-->
<!--              <li><strong>30</strong> actes réalisés et facturés <button class="blind">détails</button>-->
<!--              <ul><li>...</li></ul></li>-->
<!--              <li><strong>6</strong> actes réalisés non facturés <button class="blind">détails</button>-->
<!--              <ul><li>...</li></ul></li>-->
<!--              <li><button id="add-prolongation-btn">Ajouter une prolongation</button></li>-->
<!--            </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->


<!--      </div>-->

<!--      <div id="overlay">-->
<!--       <p>-->
<!--       Exemples pour cet onglet :-->
<!--        <a href="#" onclick="$('#patient-diag').show(); $('#patient-traitement').hide(); $('#patient-traitement-charge').hide();">Patient en diagnostic</a>-->
<!--        <a href="#" onclick="$('#patient-diag').hide(); $('#patient-traitement').show(); $('#patient-traitement-charge').hide();">Patient en traitement</a>-->
<!--        <a href="#" onclick="$('#patient-diag').hide(); $('#patient-traitement').hide(); $('#patient-traitement-charge').show();">Patient en traitement avec prise en charge</a>-->
<!--        </p>-->
<!--      </div>-->

    </div>

    <div id="tabs-5"> <!-- Actes passés -->
        {% for last_rdv, state in last_rdvs %}
        <div class="frame">
            <h3>{{ last_rdv.start_time|date:"d/m/y H:m" }} {{ last_rdv.event.eventact.act_type }}</h3>
            <ul>
            {% if last_rdv.event.eventact.doctors.all %}
            <li><label>Praticiens :</label>
            {% for doctor in last_rdv.event.eventact.doctors.all %}
            {{ doctor.first_name }} <span class="lastname">{{ doctor.last_name }}</span>
            {% endfor %}
            </li>
            {% endif %}
            {% if last_rdv.event.room %}
            <li>
            Salle : {{ last_rdv.event.room }}
            </li>
            {% endif %}
            <li>
            {% if last_rdv.event.eventact.convocation_sent %}
            Convocation envoyé
            {% else %}
            Convocation non envoyé
            {% endif %}
            </li>
            <li>{% if state %}<strong>{{ state.state_name }}</strong>, le {{ state.created }} par {{ state.author }}
            {% else %}
              Non pointé.
            {% endif %}
            </li>
        </ul>
        </div>
        {% endfor %}
    </div>

    <div id="tabs-6"> <!-- Prochains rendez-vous -->
        {% for next_rdv, state in next_rdvs %}
        <div class="frame">
            <h3>{{ next_rdv.start_time|date:"d/m/y H:m" }} {{ next_rdv.event.eventact.act_type }}</h3>
            <ul>
            {% if next_rdv.event.eventact.doctors.all %}
            <li><label>Praticiens :</label>
            {% for doctor in next_rdv.event.eventact.doctors.all %}
            {{ doctor.first_name }} <span class="lastname">{{ doctor.last_name }}</span>
            {% endfor %}
            </li>
            {% endif %}
            {% if next_rdv.event.room %}
            <li>
            Salle : {{ next_rdv.event.room }}
            </li>
            {% endif %}
            <li>
            {% if next_rdv.event.eventact.convocation_sent %}
            Convocation envoyé
            {% else %}
            Convocation non envoyé
            {% endif %}
            </li>
            <li>{% if state %}<strong>{{ state.state_name }}</strong>, le {{ state.created }} par {{ state.author }}
            {% else %}
              Non pointé.
            {% endif %}
            </li>
        </ul>
        </div>
        {% endfor %}
    </div>

    <div id="tabs-7">
        <div class="frame">
            <h3>Périodes de socialisation</h3>
            <p><button id="new-socialisation-duration-btn">Nouvelle période de socialisation</button></p>
            {% for duration in object.socialisation_durations.all %}
                <div class="subframe">
                Arrivée le <strong>{{ duration.start_date }}</strong> dans {% if duration.school %}l'établissement <strong>{{ duration.school }}</strong>{% else %}un établissement non renseigné{% endif %}{% if duration.level %} (en {{ duration.level }}){% endif %}
                <div class="buttons">
                    <button type="button" data-id="{{ duration.id }}" class="del-duration icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ duration.id }}" class="update-duration-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if duration.end_date %}<li><label>Date de départ</label> : {{ duration.end_date }}</li>{% endif %}
                        {% if duration.comment %}<li><label>Commentaire</label> : {{ duration.comment }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>

        <div class="frame">
            <h3>Demandes MDPH</h3>
            <p><button id="new-mdph-request-btn">Nouvelle demande MDPH</button></p>
            {% for request in object.mdph_requests.all %}
                <div class="subframe">
                Demande le <strong>{{ request.start_date }}</strong> à la MDPH <strong>{{ request.mdph }}</strong>
                <div class="buttons">
                    <button type="button" data-id="{{ request.id }}" class="del-mdph-request icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ request.id }}" class="update-mdph-request-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if request.comment %}<li><label>Commentaire</label> : {{ request.comment }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>

        <div class="frame">
            <h3>Réponses MDPH</h3>
            <p><button id="new-mdph-response-btn">Nouvelle réponse MDPH</button></p>
            {% for response in object.mdph_responses.all %}
                <div class="subframe">
                Du <strong>{{ response.start_date }}</strong> au <strong>{{ response.end_date }}</strong> à la MDPH <strong>{{ response.mdph }}</strong>
                <div class="buttons">
                    <button type="button" data-id="{{ response.id }}" class="del-mdph-response icon-minus" title="Supprimer"></button>
                    <button type="button" data-id="{{ response.id }}" class="update-mdph-response-btn icon-edit" title="Modifier"></button>
                </div>
                <div>
                    <ul>
                        {% if response.comment %}<li><label>Commentaire</label> : {{ response.comment }}</li>{% endif %}
                        {% if response.type_aide %}<li><label>Type d'aide</label> : {{ response.type_aide }}</li>{% endif %}
                        {% if response.name %}<li><label>Nom</label> : {{ response.name }}</li>{% endif %}
                        {% if response.rate %}<li><label>Taux</label> : {{ response.rate }}</li>{% endif %}
                    </ul>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="tabs-8">
        <form method="post" id="physiology-form" class="patientrecordform">
          {% csrf_token %}
            <button class="save enable-on-change">Enregistrer</button>
            {% for field in forms.physiology %}
            <p>
                {{ field.errors }}
            </p>
            <p>
                {{ field.label_tag  }}
                {{ field }}
            </p>
            {% endfor %}
            </p>
            <input type="hidden"  name="tab"  value="7">
            <button class="save enable-on-change">Enregistrer</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}

{% block dialogs %}
<div id="ajax-dlg" style="display: none;"></div>
<div id="change-record" style="display: none;" data-id="{{ object.id }}" data-service-id="{{ service_id }}">
 </div>

  <div id="dossier-histo-dlg" style="display: none;">
   <dl>
    {% for state in states %}
    <dt><b>{{ state.date_selected|date:"d/m/Y" }}</b> <small>(date info: {{ state.created|date:"d/m/Y" }})</small>
      <button data-id="{{ state.id }}" class="update-patient-state-btn icon-edit" title="Modifier"></button>
      <button data-id="{{ state.id }}" class="del-patient-state-btn icon-remove"></button>
    </dt>
    <dd>
    <p><b>{{ state.status.name }}</b>; <label>commentaire:</label> {% if state.comment %}{{ state.comment }}{% else %}-{% endif %}</p>
    </dd>
    <dd class="edit-histo-item" style="display: none;">

<form action="{{ request.get_full_path }}/../update-state" method="post">
  <input type="hidden" name="state_id" value="{{ state.id }}"/>
  {% csrf_token %}
   <p>
   <label for="id_date">Date :</label>
   {{ form.date.errors }}
   <input id="id_date" class="date" name="date" value="{{ state.created|date:"d/m/Y" }}"/>
   </p>
   <p>
    <label for="id_comment">Commentaire :</label>
    <textarea id="id_comment" style="width: 90%;" name="comment">{% if state.comment %}{{ state.comment }}{% endif %}</textarea>
   </p>
   <button>Modifier</button>
 </form>

    </dd>
    {% endfor%}
   </dl>
  </div>



  <div id="add-prise-en-charge-dlg" style="display: none;">
   <div>
    <label for="id_partir">À partir du :</label>
    <input id="id_partir" class="partir" name="partir" size="10" value="11/06/2012"/>
   </div>
   <div>
    <label for="id_pour">Pour :</label>
    <input id="id_pour" class="pour" name="pour" size="4" value="30"/> séances
   </div>
  </div>

  <div id="add-prolongation-dlg" style="display: none;">
   <div>
    <label for="id_pour">Pour :</label>
    <input id="id_pour" class="pour" name="pour" size="4" value="10"/> actes
   </div>
  </div>

<div id="finaccueil-patientrecord-dialog" title="Patient en fin d'accueil">
  <div id="finaccueil-patientrecord-dialog-content">
  </div>
  <form method="post" action="finaccueil-patientrecord/">
    {% csrf_token %}
    <input type="hidden" name="Close" value="1">
  </form>
</div>

{% endblock %}
