{% load widget_tweaks %}

<form action="{{ request.get_full_path }}" method="post">
  {% csrf_token %}
   <p>
   <label for="id_start_date">{{ form.start_date.label_tag }}</label>
   {{ form.start_date.errors }}
   <input id="id_start_date" class="date" name="start_date" value="{% now "d/m/Y" %}"/>
   </p>
   <p>
   <label for="id_act_number">{{ form.act_number.label_tag }}</label>
   {{ form.act_number.errors }}
   <input id="id_act_number" name="act_number" value="{{ form.act_number.value }}"/>
   </p>
   <p>
    <label for="id_comment">Commentaire :</label>
    <textarea id="id_comment" style="width: 90%;" name="comment"></textarea>
   </p>
 </form>
