{% load widget_tweaks %}

<form action="{{ request.get_full_path }}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <table>
    <tbody>
      <tr>
        <p>
        </p>
        <td>
          {{ form.first_name.label_tag }} :<br>
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </td>
        <td>
          {{ form.last_name.label_tag }} :<br>
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </td>
        <td>
          {{ form.gender.label_tag }} :<br>
          {{ form.gender }}
          {{ form.gender.errors }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.birthdate.label_tag }} :<br>
          {{ form.birthdate }}
          {{ form.birthdate.errors }}
        </td>
        <td>
          {{ form.mobile.label_tag }} :<br>
          {{ form.mobile }}
          {{ form.mobile.errors }}
        </td>
        <td>
          {{ form.email.label_tag }} :<br>
          {{ form.email }}
          {{ form.email.errors }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.social_security_id.label_tag }} :<br>
          {{ form.social_security_id }}
          {{ form.social_security_id.errors }}
        </td>
        <td>
          {{ form.begin_rights.label_tag }} :<br>
          {{ form.begin_rights }}
          {{ form.begin_rights.errors }}
        </td>
        <td>
          {{ form.end_rights.label_tag }} :<br>
          {{ form.end_rights }}
          {{ form.end_rights.errors }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.health_org.label_tag }} :<br>
          {{ form.health_org }}
          {{ form.health_org.errors }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.twinning_rank.label_tag }} :<br>
          {{ form.twinning_rank }}
          {{ form.twinning_rank.errors }}
        </td>
        <td>
          {{ form.addresses.label_tag }} :
          {{ form.addresses }}
          {{ form.addresses.errors }}
        </td>
    </tbody>
  </table>
  <p>
  {{ form.contact_comment.label_tag }}
  {{ form.contact_comment }}
  {{ form.contact_comment.errors }}
  </p>
 </form>
