<thead>
  <tr>
    <th colspan="2">N° dossier
    </th><th rowspan="2">Nom</th>
    <th rowspan="2">Prénom</th>
    <th rowspan="2">Date de naissance</th>
    <th rowspan="2">État du dossier</th>
    <th rowspan="2">Date du prochain rendez-vou</th>
    <th rowspan="2">Date du dernier rendez-vous</th>
    <th rowspan="2">Mises</th>
    <th rowspan="2">ANAP</th>
  </tr>
  <tr>
    <th>papier</th>
    <th>inform.</th>
  </tr>
</thead>
<tbody>
  {% for patient_record in patient_records %}
  <tr style="display: table-row;" class="pr-line {{ patient_record.state.status.type|lower }}" data-link="{{ patient_record.object.id }}/view">
    <td>{{ patient_record.object.paper_id|default_if_none:"" }}</td>
    <td>{{ patient_record.object.id }}</td>
    <td><span class="lastname">{{ patient_record.object.last_name }}</span></td>
    <td>{{ patient_record.object.first_name }}</td>
    <td>{{ patient_record.object.birthdate|date:"d-m-Y" }}</td>
    <td class="{{ patient_record.state.status.type|lower }}">{{ patient_record.state.status.name }} le {{ patient_record.state.date_selected|date:"d-m-Y" }}</td>
    <td>{% if patient_record.next_rdv_date %}
      {{ patient_record.next_rdv_date|date:"d-m-Y, H:i" }}
      {% endif %}
    </td>
    <td>{% if patient_record.last_rdv_date %}
      {{ patient_record.last_rdv_date|date:"d-m-Y, H:i" }}
      {% endif %}</td>
    <td>{% if patient_record.mises %}<span class="icon-ok"></span>{% endif %}</td>
    <td>{% if patient_record.anap %}<span class="icon-ok"></span>{% endif %}</td>
  </tr>
  {% endfor %}
</tbody>
