{% extends "ressources/list.html" %}

{% block content %}
    {% if object_list %}
    <table id="ressource-list" class="main">
    <thead>
     <th class="col-id">Identifiant</th>
     <th class="col-label">Libellé</th>
     <th class="col-group">En groupe</th>
     <th class="col-service">Service</th>
     <th class="col-action"></th>
    </thead>
    <tbody>
     {% for object in object_list %}
     <tr id="ressource-{{ object.pk }}" {% if new_id == object.pk %}class="new-object"{% endif %}>
     <td class="col-id">{{object.pk}}</td>
     <td class="col-label"><a href="{{ object.pk }}">{{object}}</a></td>
     <td class="col-groupe">{% if object.group %}<span class="icon-ok"></span>{% endif %}</td>
     <td class="col-service"><span class="box {{object.service.slug}}" title="{{object.service.name}}"></span></td>
     <td class="col-action"><button class="dialog-button delete-object-button"
               data-url="{{ object.pk }}/delete/ #form-content">Supprimer</button></td>
     </tr>
     {% endfor %}
    </tbody>
    </table>
    <script type="text/javascript">$('.new-object').effect('highlight', {}, 3000);</script>
    {% else %}
    <div class="big-msg-info">
    <p>
     Cliquez sur le bouton « Ajouter » en haut à droite pour ajouter un
     élément.
    </p>
    </div>
    {% endif %}
{% endblock %}
