{% extends "calebasse/base.html" %}

{% block header %}
  {{ block.super }}
  <span>Gestion des ressources - {{ service_name }}</span>
{% endblock %}

{% block appbar %}
  <h2>Supprimer « {{ model_verbose_name }} »</h2>
  <a href="../..#ressource-{{ object.pk }}">Retourner au listing</a>
{% endblock %}

{% block content %}
    <form method="post">
      <div id="form-content">
        Voulez-vous réellement supprimer « {{ object }} » ?
        {% csrf_token %}
      </div>
      <button>Supprimer</button>
      <a href="../../#ressource-{{ object.pk }}">Retourner au listing</a>
    </form>
{% endblock %}
