{% extends "calebasse/base.html" %}

{% block header %}
  {{ block.super }}
  <span>Gestion des ressources - {{ service_name }}</span>
{% endblock %}

{% block appbar %}
  <h2>{{ model_verbose_name_plural }}</h2>
  <a href="..">Retourner à l'accueil</a>
  <button id="new-object-button" class='dialog-button' data-default-button="Ajouter" data-url="new/ #form-content">Ajouter « {{ model_verbose_name }} »</button>
{% endblock %}

{% block content %}
    <ul id="ressource-list">
     {% for object in object_list %}
     <li id="ressource-{{ object.pk }}">
     <a href="{{ object.pk }}">{{object}} ({{object.pk}})</a> 
       <button class="dialog-button delete-object-button" 
               data-url="{{ object.pk }}/delete/ #form-content">Supprimer</button>
     </li>
     {% endfor %}
    </ul>
{% endblock %}
