td#dispos {
	vertical-align: top;
}

td#dispos h5 {
    margin: 5px auto;
    text-align: center;
}

#users {
    font: normal .8em Arial;
}

#users dt {
    background: #eee;
    border: 1px solid #ddd;
    padding: .1em;
    border-radius: .2em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-border-radius: .2em;
    -webkit-border-radius: .2em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#users li:hover .icon-toggle {
    display: block;
}

#users .icon-toggle {
    float: right;
    display: none;
}

#users .icon-toggle:before {
    content: "\f067";
}

#users .active .icon-toggle:before {
    content: "\f00d";
}

div.agenda ul {
    padding: 0;
    list-style: none;
}

div.agenda span.act_type {
    display : inline-block;
    font-size: 80%;
    min-width: 23%;
}

div.agenda h3.info {
    color: #8c8c73;
    font-style: italic;
}

div.agenda span.ressource {
    display : inline-block;
}

div.agenda span.length {
    display : inline-block;
    min-width: 7%;
}

div.agenda span.hour {
    padding-left: 20px;
    display : inline-block;
    min-width: 6%;
}

div.agenda span.title {
    display : inline-block;
    min-width: 25%;
}

div.agenda span.participants {
    display: inline-block;
    min-width: 15%;
}

#content div.agenda h3 {
    margin: 5px 0 0 0;
    padding: 3px 5px;
    font-size: 100%;
    background: white;
}

.search {
    border: 1px solid #bbb;
    border-radius:.2em;
    background: #fff;
}

.search:before {
    content: '\f002';
    font: normal 1.3em FontAwesome;
    margin: auto .4em;
}

.search input {
    border: 0 !important;
    width: 75%;
}

div#close-all-agendas {
    margin: .2em;
    float: right;
    cursor: pointer;
}

div#close-all-agendas:after {
    content:'\f05c';
    font: normal 1.5em FontAwesome;
}

#availability {
    white-space: nowrap;
}

#dispos > ul, #availability > ul {
    margin: 0 .1em;
    padding: 0;
    float: left;
}

#dispos li {
    list-style-type: none;
}

#availability li ul {
    margin: 0;
    padding: 0;
}

#availability  > li {
    display: inline-table;
    margin: 0 2px;
}

#dispos li.initials {
    height: 15px;
    margin-bottom: 2px;
    font-size:.7em;
    text-align: center;
}

#availability li.agenda  {
    width: 1.2em;
    height: 7px;
    margin: 4px 0px;
}

li.hour-mark {
    height: 30px;
    margin-bottom: 1.5em;
}

li.noon-start {
    margin-top: 2.5em;
}

li.noon-end {
    margin-bottom: 2.5em;
}

li.free {
    background: green;
}

li.busy {
    background: #f00;
}

li.away {
    background: #ccc;
}

li.overlap {
    background: #640018;
}

li#time {
    margin-top: -0.15em;
}

#tabs li.agenda {
    font-size: .9em;
}

#extra-top-links {
    position: absolute;
    right: 0;
    top: 3em;
    padding: 3px 5px;
    color: #555;
}

#extra-top-links a:link, #extra-top-links a:visited{
    text-decoration: none;
}

#extra-top-links a:hover {
    text-decoration: underline;
}

div.new {
    margin: .4em 0;
    float: right;
}

p.lastname {
    text-transform: uppercase;
    display: inline;
}

ul.addresses {
    padding-left: 0;
}

button.screen-only {
    margin: 1em 0;
    /* float: right; */
}

h3 .icon-comment {
    display: none;
}

.worker-agenda {
    margin-top: 2em;
}

#activity {
    font-size: .8em;
    margin-bottom: 5em;
}

#activity h3 {
    background: #eee;
    border: 1px solid #aaa;
    padding: 2px 5px;
    margin:0;
    border-bottom: 0;
}

#activity table {
    border-collapse: collapse;
    width: 100%;
}

#activity .header {
    display: none;
}

#activity table td, #activity table th {
    border: 1px solid #bbb;
    padding: 2px 5px;
}

#activity #print-button-therapeutes-activity {
    float: right;
}

.frame.acte:target, div.changed {
    box-shadow: 2px 2px .5em 5px #db9595;
}

#content div.agenda h3.timetable {
    font-size: .8em;
}

.icon-arrival:before {
    content: "\f090";
}

.icon-departure:before {
    content: "\f08b";
}