@page {
  size: landscape;
}

html {
  background: none;
  color: black;
}

div#header, div#splash, div#footer, div#appbar, div#datesel,
div#djDebugToolbarHandle, button#uncheck-all, button#check-all, input.printable  {
  display: none;
}

div#wrap-large {
  width: 98%;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

div#content {
  margin: 0;
  padding: 0;
}

div#content div.worker-agenda h2 {
  border: 0;
  padding: 0;
  margin-bottom: 1ex;
  color: black;
  background: none;
}

.worker-agenda+.worker-agenda {
  page-break-before: always;
}

div.worker-agenda table{
  font-size: 70%;
}

table#activity{
  font-size: 80%;
}

div.worker-agenda h3 {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
}

div.worker-agenda .remarque {
  display: block;
  position: relative;
  left: 70%;
  top: -3em;
}

div.summary {
  float: right;
  margin-top: 5em;
  margin-right: 3em;
}

.print-only {
  display: inherit;
}

.screen-only {
  display: none;
}

div#sidebar {
  display: none;
}
