{% extends "calebasse/base.html" %}
{% load url from future %}

{% block title %}{{ block.super }} - Gestion des personnes {% endblock %}
{% block extrascripts %}
{% block extrastyles %}
{{ block.super }}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/personnes.css" />
{% endblock %}
{{ block.super }}
    <script src="{{ STATIC_URL }}js/calebasse.absences.js"></script>
{% endblock %}

{% block header %}
  {{ block.super }}
  <span>Gestion des personnes</span>
{% endblock %}
