{% extends "personnes/base.html" %}

{% block appbar %}
  <h2>Gestion des personnes</h2>
  <a href="/">Retourner à l'accueil</a>
{% endblock %}

{% block content %}
    <h3>Personnel</h3>
    <ul>
     {% if 'super' in role %}<li><a href="acces/">Accès</a></li>{% endif %}
     <li><a href="gestion/">Administration du personnel</a></li>
<!--     <li><a href="conges/">Congés</a></li>-->
    </ul>

    <h3>Extérieurs</h3>
    <ul>
     <li><a href="externalworker/">Intervenants extérieurs</a></li>
     <li><a href="externaltherapist/">Médecins extérieurs</a></li>
    </ul>
{% endblock %}
