{% extends "facturation/base.html" %}
{% load url from future %}

{% block appbar %}
    <h2>

    {% if service_name == "CMPP" %}
        Facturation {{ invoicing.seq_id }}
        {% if invoicing.status == "open" %}
            ouverte et ayant débuté le {{ invoicing.start_date }}
        {% else %}
            {% if invoicing.status == "closed" %}
            fermée
            {% else %}
            validée
            {% endif %}
            couvrant la période du {{ invoicing.start_date }} au {{ invoicing.end_date }}
        {% endif %}
    {% else %}
        Décompte {{ invoicing.seq_id }}
        {% if invoicing.status == "validated" %}
        validé
        {% endif %}
        pour le trimestre allant du {{ invoicing.start_date }} au {{ invoicing.end_date }}
    {% endif %}</h2>
    <a href="..">Retourner à la facturation {{ invoicing.seq_id }}</a>
    {% if service_name == "CMPP" %}
        {% if b2_is_configured and invoicing.status == "validated" %}
          {% if b2 %}
          <button onclick="window.location.href=window.location.href+'mail'">Transmettre à toutes les caisses</button>
          {% else %}
          <button onclick="window.location.href=window.location.href+'build'">Préparer</button>
          {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

<div id="facturation-contents">

{% if b2_is_configured %}
{% if invoicing.status == "validated" %}

<h1>Télétransmission de la facturation {{invoicing.seq_id}}</h1>

  {% if error_message %}
  <p><span style="color: #f00;">Erreur : {{ error_message }}</span></p>

  {% elif b2 %}
    {% for info in b2|dictsortreversed:"total" %}
    <h3 id="{{ info.files.b2 }}">{{ info.hc }} &mdash; {{ info.total|floatformat:2 }} &euro;</h3>

    {% if info.mail_date %}
    <span style="background: #4f4; color: #000;">Transmis</span> le {{ info.mail_date }} &mdash;
    <a style="color: #8c8c73;" href="mail/{{ info.files.b2 }}">Transmettre à nouveau</a>
    {% else %}
    Fichier créé le {{ info.creation_date }} &mdash;
    <a style="color: #8c8c73;" href="mail/{{ info.files.b2 }}">Transmettre à la caisse</a>
    {% endif %}

    {% if info.mail_log %}
    {% if "MAIL SENT" in info.mail_log %}<pre>{% elif "SMTP ERROR" in info.mail_log%}<pre style="background: #f44; color: #000;">{% endif %}{{ info.mail_log }}</pre>
    {% endif %}

    <ul>
    {% for b in info.batches %}
    <li>lot {{ b.batch }} pour {{ b.hc }}, {{ b.number_of_invoices }} factures ({{b.number_of_acts}} actes) &mdash; {{ b.total|floatformat:2 }} &euro;</li>
    {% endfor %}
    </ul>
    {% endfor %}
    {% else %}
    <p>
    Cette facturation est validée, mais les fichiers de transmission (format B2) ne sont pas encore générés. Cliquer sur le bouton pour les créer :
    <button onclick="window.location.href=window.location.href+'build'">Préparer les données de télétransmission</button>
    </p>
    <p>
    Une fois les fichiers créés, vous pourrez les télé-transmettre depuis cette page.
    </p>
    {% endif %}

  {% else %}
    Facturation non validée, transmission impossible.
    <a href="..">Retourner à la facturation {{ invoicing.seq_id }}</a>
  {% endif %}

{% else %}
    <p><span style="color: #f00;">Système de télétransmission non configuré.</span></p>
    <p><a href="..">Retourner à la facturation {{ invoicing.seq_id }}</a></p>
{% endif %}

</div>

{% endblock %}
