{% extends "statistics/base.html" %}
{% load url from future %}

{% block header %}
  {{ block.super }}
  <span>Statistiques - {{ service_name }}</span>
{% endblock %}

{% block appbar %}
  <h2>Statistiques</h2>
  <a href="/">Retourner à l'accueil</a>
{% endblock %}

{% block content %}
    <ul>
     {% for category, stats in statistics.iteritems %}
         <h3>{{ category }}</h3>
         {% for n, dn in stats %}
         <button id="{{ n }}" class="stats">{{ dn }}</button><br/>
         {% endfor %}
     {% endfor %}
    </ul>
{% endblock %}

{% block dialogs %}
<div id="ajax-dlg" style="display: none;"></div>
{% endblock %}
