{% extends 'dossiers/patientrecord_tab.html' %}

{% block content %}
<div id="tabs-8">
  <form method="post" action="tab8" id="physiology-form" class="patientrecordform">
    {% csrf_token %}
    <button class="save enable-on-change">Enregistrer</button>
    {% for field in form %}
    <p>
    {{ field.errors }}
    </p>
    <p>
    {{ field.label_tag  }}
    {{ field }}
    </p>
    {% endfor %}
    </p>
    <input type="hidden"  name="tab"  value="7">
    <button class="save enable-on-change">Enregistrer</button>
  </form>
</div>
{% endblock %}
