{% extends "agenda/base.html" %}
{% load url from future %}

{% block body-class %}{{ block.super }} no-left-column{% endblock %}

{% block appbar %}
<h2>Validation des actes - {{ date|date:"DATE_FORMAT" }}</h2>
    <a href="..">Retourner à l'agenda</a>
    {% if authorized_lock %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="unlock-all" value="1">
          <button id="unlock-all">Tout déverrouiller</button>
        </form>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="validate-all" value="1">
          <button id="validate-all">Validation automatique</button>
        </form>
    {% endif %}
{% endblock %}

{% block agenda-content %}
    {% if validation_msg %}
    <ul>
    {% for message in validation_msg %}
     <li>message</li>
    {% endfor %}
    </ul>
    {% endif %}


    {% if actes %}
    <div id="actes">
    {% for acte, last_status, last_status_name in actes %}
    <div class="frame acte" id="acte-frame-{{ acte.id }}">
      <h3>{{ acte.date }} - <strong>{{ acte.patient.last_name }} {{ acte.patient.first_name }}</strong>
          {% if acte.patient.paper_id %} ({{ acte.patient.paper_id }}){% endif %}
          {% if acte.doctors %}{% for doctor in acte.doctors.all %} - {{ doctor.last_name }} {{ doctor.first_name }}{% endfor %}{% endif %} -
          <strong>{{ acte.act_type }}</strong>
          {% if acte.description %} <img title="Un commentaire existe" src="{{ STATIC_URL }}images/emblem-documents.png">{% endif%}
      </h3>
      <div><span>{% if last_status %}<strong>{{ last_status_name }}</strong>, le {{ last_status.created }} par {{ last_status.author }}
           {% if last_status.auto %}(par validation automatique){% endif %}.
         {% else %}
           Non pointé.
         {% endif %}
         </span>
         {% if acte.validation_locked and authorized_lock %}
             <form method="post" class="inline-form">
               {% csrf_token %}
               <input type="hidden" value="{{acte.id}}" name="acte-id">
               <input type="hidden" name="unlock" value="1">
               <button>Déverrouiller</button>
             </form>
         {% else %}
           <form method="post" class="inline-form">
           {% csrf_token %}
           <input type="hidden" value="{{acte.id}}" name="acte-id">
           <select data-previous="{{ last_status.state_name }}" name="act_state">
             {% for state_name, display_state_name in validation_states.items %}
             <option value="{{ state_name }}" {% if state_name == last_status.state_name %}selected{% endif %}>{{ display_state_name }}</option>
             {% endfor %}
           </select>
           <button {% if last_status %}disabled{% endif %}>Modifier</button>
           </form>
           {% if authorized_lock and last_status %}
             <form method="post" class="inline-form">
               {% csrf_token %}
               <input type="hidden" value="{{acte.id}}" name="acte-id">
               <input type="hidden" name="lock" value="1">
               <button>Verrouiller</button>
             </form>
           {% endif %}
         {% endif %}
      </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p><strong>Il n'y a pas d'acte à valider le {{ date|date:"DATE_FORMAT" }}.</strong></p>
    {% endif %}
{% endblock %}
{% block page-end %}
<script>
  $('select[name^="act_state"]').on('change', function () {
    $(this).next('button').prop('disabled',
      ($(this).data('previous') == $(this).val()));
  })
</script>
{% endblock %}
