{% load url from future %}
<div {% if appointment.event_id %}data-event-id="{{ appointment.event_id }}"{% endif %}>
  {% for appointment in worker_agenda.appointments %}
  <h3 class="{{ appointment.type }} {% if appointment.act_absence %}act-absence{% endif %} appointment"
      {% if appointment.act_absence %}title="{{appointment.act_absence}}"{% endif %}>
    <span class="hour">{{ appointment.begin_hour }}</span>
    {% if appointment.title %} — {{ appointment.title }} {% endif %}
    {% if appointment.patient.paper_id %} — {{ appointment.patient.paper_id }} {% endif %}
    {% if appointment.length %} — {{ appointment.length }} mn {% endif %}
    {% if appointment.workers_initial %} — {{ appointment.workers_initial }} {% endif %}
    {% if appointment.act_type %} — {{ appointment.act_type }} {% endif %}
    {% if appointment.room %} — {{ appointment.room }} {% endif %}
    <span class="right">
        {% for service_name in appointment.other_services_names %}
        <span class="box {{ service_name }}" title="{{ service_name }}"></span>
        {% endfor %}
        {% if appointment.convocation_sent %}
        <span title="Une convocation a été envoyée" class="icon-envelope"></span>
        {% endif %}
        {% if appointment.description %}
        <span title="Un commentaire existe" class="icon-comment"></span>
        {% endif %}
        {% if appointment.event_id %}
        {% if appointment.is_recurrent %} R {% endif %}
         {% if appointment.patient_record_id %}
           <button title="Éditer un rendez-vous" class="edit-appointment icon-edit" data-event-id="{{ appointment.event_id }}"></button>
         {% else %}
           <button title="Éditer un événement" class="edit-event icon-edit" data-event-id="{{ appointment.event_id }}">
         {% endif %}
        <button class="remove-appointment icon-remove-sign" title="Supprimer un rendez-vous" data-url="{% url 'delete-occurrence' service=service date=date pk=appointment.event_id %}" data-rdv="{{ appointment.title }}"></button>
        {% endif %}
   </span>
  </h3>

  <div>
      {% if appointment.type == 'free' %}
      <button class='newrdv' data-url="{% url 'nouveau-rdv' service=service date=date %}" data-hour="{{ appointment.begin_hour }}">Nouveau rendez-vous patient</button>
      <button class='newevent' data-url="{% url 'new-event' service=service date=date %}" data-hour="{{ appointment.begin_hour }}">Nouvel événement</button>
      {% endif %}
    {% if appointment.event_id %}
    {% if appointment.workers %}
      <p class="workers">
      Intervenants :
      {% for worker in appointment.workers %}
        {{ worker.first_name }} <span class="lastname">{{ worker.last_name }}</span>{% if forloop.last %}.{% else %}, {% endif %}
      {% endfor %}
      </p>
    {% endif %}
    <div class="tabs-worker-{{ worker_agenda.worker.id }} textedit">
        <span></span>
        <textarea>{{ appointment.description }}</textarea>
        <button disabled="disabled" data-event-id="{{ appointment.event_id }}">✔</button>
    </div>
    {% else %}
        {% if appointment.description %}
        <p>{{ appointment.description }}</p>
        {% endif %}
    {% endif %}
    {% if appointment.patient_record_id %}
    <p class="phones">
    {% if appointment.patient.mobile %}
    <span title="{{ appointment.patient.first_name }} {{ appointment.patient.last_name|upper }} (Patient - Perso)" class="icon-user-space">
    {{ appointment.patient.mobile }}
    </span>
    {% endif %}
    {% if appointment.patient.phone %}
    <span title="{{ appointment.patient.first_name }} {{ appointment.patient.last_name|upper }} (Patient - Pro)" class="icon-user-space">
    {{ appointment.patient.phone }}
    </span>
    {% endif %}
    {% for address in appointment.patient.addresses.all %}
      {% if address.place_of_life %}
        {% if address.phone %}<span title="{{ address.number }} {{ address.street }} {{ address.zip_code }} {{ address.city }}" class="icon-home-space">{{ address.phone }}</span>{% endif %}
        {% for contact in address.patientcontact_set.all  %}
          {% if contact.id != appointment.patient.id %}
          {% if contact.mobile %}<span title="{{ contact.first_name }} {{ contact.last_name|upper }} (Perso)" class="icon-user-space">{{ contact.mobile }}</span>{% endif %}
          {% if contact.phone %}<span title="{{ contact.first_name }} {{ contact.last_name|upper }} (Pro)" class="icon-user-space">{{ contact.phone }}</span>{% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}
    </p>
    <a href="/{{ service }}/dossiers/{{ appointment.patient_record_id }}/view" target="_blank">Dossier patient</a> -
    <a href="/{{ service }}/dossiers/{{ appointment.patient_record_id }}/view#tab=5" target="_blank">Prochains rendez-vous</a> -
    <a href="#" class="generate-mail-btn" data-dossier-id="{{ appointment.patient_record_id }}" data-date="{{date|date:"Y-m-d"}}" data-event-id="{{ appointment.event_id }}" data-next-url="{{ request.get_full_path }}">Courrier</a>
    {% endif %}
    {% if appointment.validation %}
      <div><span>{% if appointment.validation.1 %}<strong>{{ appointment.validation.2 }}</strong>, le {{ appointment.validation.1.created }}. {% if appointment.validation.0.is_billed %}<strong>Acte facturé</strong>{% endif %}
        {% else %}
          Non pointé.
        {% endif %}
        </span>
        {% if not appointment.validation.0.validation_locked and appointment.validation.3 %}
          <form method="post" class="inline-form">
          {% csrf_token %}
          <input type="hidden" value="{{appointment.event_id}}" name="event-id">
          <select name="act_state">
            {% for state_name, display_state_name in appointment.validation.3 %}
            <option value="{{ state_name }}" {% if state_name == appointment.validation.1.state_name %}selected{% endif %}>{{ display_state_name }}</option>
            {% endfor %}
          </select>
          <button>Modifier</button>
          </form>
        {% endif %}
     </div>
     {% endif %}
  </div>
  {% endfor %}
</div>
