<li class='{{ ressource_type }}-{{ ressource_id }}'>
<ul>
  <li class="initials" data-id="{{ ressource_id }}">
    {{ initials }}
  </li>
  {% for start_time, quarters in disponibility.items %}
  <li class="hour-mark {% if start_time == 12 %}noon-start{% elif start_time == 13%}noon-end{% endif %}">
    <ul>
      {% for quarter in quarters %}
      {% for min, value in quarter %}
      <li class="ressource-{{ value.id }} agenda {{ value.dispo }}" data-id="{{ value.id }}" title="{{ start_time|stringformat:"02d" }}:{{ min|stringformat:"02d" }}"></li>
      {% endfor %}

      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
</li>
