<div id="valider-dlg">
   <h3>Bilan</h3>
   <ul>
    <li>Actes total : {{nb_acts_total}}</li>
    {% if nb_acts_validated %}<li>Actes validés : {{nb_acts_validated}}</li>{% else %}<li>Aucun acte validé</li>{% endif %}
    {% if nb_acts_not_validated %}
        <li>Actes non validés : {{nb_acts_not_validated}}</li>
        <ul>
        {% if nb_acts_double %}<li>Actes en double : {{nb_acts_double}}</li>{% endif %}
        {% if nb_acts_abs_non_exc %}<li>Abscence non excusée : {{nb_acts_abs_non_exc}}</li>{% endif %}
        {% if nb_acts_abs_exc %}<li>Abscence excusée : {{nb_acts_abs_exc}}</li>{% endif %}
        {% if nb_acts_annul_nous %}<li>Annulé par nous : {{nb_acts_annul_nous}}</li>{% endif %}
        {% if nb_acts_annul_famille %}<li>Annulé par la famille : {{nb_acts_annul_famille}}</li>{% endif %}
        {% if nb_acts_abs_ess_pps %}<li>Abscence ESS PPS : {{nb_acts_abs_ess_pps}}</li>{% endif %}
        {% if nb_acts_enf_hosp %}<li>Enfant hospitalisé : {{nb_acts_enf_hosp}}</li>{% endif %}
        </ul>
    {% endif %}
  </ul>
</div>
