{% extends "calebasse/base.html" %}
{% load url from future %}

{% block extrascripts %}
<script src="{{ STATIC_URL }}js/calebasse.agenda.js"></script>
{% endblock %}

{% block title %}{{ block.super }} - Agenda {% endblock %}

{% block header %}
  {{ block.super }}
  <span>Agenda - {{ service_name }}</spam>
{% endblock %}

{% block content %}
<div class="content">
   <div id="datesel">
     <a href="{% url url_name date=previous_month service=service %}">««</a>
     <a href="{% url url_name date=previous_day service=service %}">«</a>
     <input data-url="{% url url_name date=date service=service %}" id="agenda-date" value="{{ date|date:"DATE_FORMAT" }}"/>
     <a href="{% url url_name date=next_day service=service %}">»</a>
     <a href="{% url url_name date=next_month service=service %}">»»</a>
   </div>
   {% block agenda-content %}
   {% endblock %}
</div>
{% endblock %}
