{% extends "calebasse/base.html" %}
{% load url from future %}

{% block extrascripts %}
<script src="{{ STATIC_URL }}js/calebasse.agenda.js"></script>
<script src="{{ STATIC_URL }}js/calebasse.datesel.js"></script>
{% endblock %}

{% block title %}{{ block.super }} - Agenda {% endblock %}

{% block header %}
  {{ block.super }}
  <span>Agenda - {{ service_name }}</spam>
{% endblock %}

{% block content %}
<div class="content">
   {% include "calebasse/datesel.html" %}
   {% block agenda-content %}
   {% endblock %}
</div>
{% endblock %}
