{% extends "agenda/base.html" %}

{% block body-class %}{{ block.super }} no-left-column{% endblock %}

{% block appbar %}
<h2>Activité du service - {{ date|date:"DATE_FORMAT" }}</h2>
<a href="..">Retourner à l'agenda</a>
<button id='print-button'>Imprimer</button>
{% endblock %}

{% block agenda-content %}

<h2 class="print-only">Activité du service - {{ date|date:"DATE_FORMAT" }}</h2>

<table class="main" id="activity">
  <thead>
      <tr> <th>Heure</th> <th>Libellé</th> <th>Type d'acte</th> <th>Intervenants</th> <th>Statut</th> </tr>
  </thead>
  <tbody>
    {% for row_appointments in appointments_times %}
    <tr class="hour-change">
      <td class="hour"  rowspan="{{ row_appointments.1.row }}">{{ row_appointments.0 }}</td>
      {% for appointment in row_appointments.1.appointments %}
      {% if forloop.counter != 1 %}
      <tr>
        {% endif %}
        <td {% if appointment.type == 2 %}colspan="2"{% endif %}>{{ appointment.label }}</td>
        {% if appointment.type != 2 %}<td>{{ appointment.act }}</td>{% endif %}
        <td>
        {% for participant in appointment.participants %}
            <span class="lastname">{{ participant.last_name }}</span> {{ participant.first_name }}<br/>
        {% endfor %}
        </td>
        <td>{{ appointment.state }}</td>
      </tr>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
