{% extends "calebasse/base.html" %}
{% block extrascripts %}

<script>
$(function() {
    $('#agenda-date').datepicker({
        dateFormat: "DD d MM yy",
        onClose: function(dateText, inst) {
            console.log('close');
        }
    });
    $('#agenda-date').on('change', function () {
        var date = $(this).datepicker('getDate')
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        window.location.href='../../' + year + '-' + month + '-' + day + '/activite-du-service';
    });
});
</script>
{% endblock %}

{% block title %}{{ block.super }} - Agenda {% endblock %}

{% block header %}
  {{ block.super }}
  <span>Agenda - {{ service_name }}</spam>
{% endblock %}

{% block appbar %}
<h2>Activité du service - {{ date|date:"DATE_FORMAT" }}</h2>
<a href="..">Retourner à l'agenda</a>
<button>Imprimer</button>
{% endblock %}

{% block content %}
<div id="datesel">
  <a href="../../{{ previous_month|date:"SHORT_DATE_FORMAT"}}/activite-du-service">««</a>
  <a href="../../{{ previous_day|date:"SHORT_DATE_FORMAT"}}/activite-du-service">«</a>
  <input id="agenda-date" value="{{ date|date:"DATE_FORMAT" }}"/>
  <a href="../../{{ next_day|date:"SHORT_DATE_FORMAT"}}/activite-du-service">»</a>
  <a href="../../{{ next_month|date:"SHORT_DATE_FORMAT"}}/activite-du-service">»»</a>
</div>

<table class="main" id="activity">
  <thead>
    <tr> <th>Heure</th> <th>Durée</th> <th>Patient</th> <th>Thérapeute(s)</th> <th>Acte</th> </tr>
  </thead>
  <tbody>
    {% for row_appointments in appointments_times %}
    <tr class="hour-change">
      <td class="hour"  rowspan="{{ row_appointments.1.row }}">{{ row_appointments.0 }}</td>
      {% for appointment in row_appointments.1.appointments %}
      {% if forloop.counter != 1 %}
      <tr>
        {% endif %}
        <td>{{ appointment.length }}</td>
        <td>{{ appointment.patient }}</td>
        <td>{{ appointment.therapists }}</td>
        <td>{{ appointment.act }}</td>
      </tr>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

